body {
    margin: 0;
}

.overlay {
    position: absolute;
    z-index: 1;
}

.wide {
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.solid {
    background: #ddf;
    border: 2px solid;
    border-color: #000;
}

.top-right {
    top: 6px;
    right: 6px;
}

.retro-text {
    font-family: times new roman;
	color: #fff;
	font-size: 4em;
    
    /* outline */
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    
    /* shadow */
    text-shadow: 1px 1px 3px #000;
    
}

#weatherIcon {
    float: right;
    margin: 0 0 10px 10px;
    display: none;
}